{% extends 'base.html' %}
{% block head %}
<title>Emergency Prepardeness</title>
{% endblock %}

{% block body %}
<br>

<h1>Emergency Prepardeness </h1>
<hr style="border: 4px solid#5b9aa0;" />
<form action="/demographic/" method="POST">
    {% csrf_token %}
    <h6>How well prepared do you fell your household is to handle a large-scale disaster or emergency? Would you say...</h6>

    <input type="radio" name="0" value="0a" {% if disasters.q0 == 'a' %}checked{% endif %}>Well prepared<BR>
    <input type="radio" name="0" value="0b" {% if disasters.q0 == 'b' %}checked{% endif %}>Somewhat prepared<BR>
    <input type="radio" name=0 value="0c"{% if disasters.q0 == 'c' %}checked{% endif %}>Not preapred at all<BR>
    <input type="radio" name="0" value="0d"{% if disasters.q0 == 'd' %}checked{% endif %}>Don't know/Not sure<BR>

    <br>
    <h5>For the following set of questions please click "yes" if you have completed the folllowing tasks at your home or have the supply.
    If your answer is no please indicate the reason for "no" was one of the following:</h5>
    <p>1. I do not feel the need to complete the task</p>
    <p>2. I would like to complete the task but not sure of exactly what to do</p>
    <p>3. I know what I need to do; I am just finding it hard to complete the task</p>
    <p>4. I have completed the task at one time, but I have not maintained/updated this task </p>
    <hr style="border: 1px solid#d9d9d9;" />
    <h6>Does your household have a packaged first aid kit? first aid supplies easily packaged into a go bag?</h6>
    <input type="radio" name="1" value="1a"{% if disasters.q1 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="1" value="1b"{% if disasters.q1 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="1" value="1c"{% if disasters.q1 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="1" value="1d"{% if disasters.q1 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="1" value="1e"{% if disasters.q1 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Does your household have stored candles/matches?</h6>
    <input type="radio" name="2" value="2a"{% if disasters.q2 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="2" value="2b"{% if disasters.q2 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="2" value="2c"{% if disasters.q2 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="2" value="2d"{% if disasters.q2 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="2" value="2e"{% if disasters.q2 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Extra batteries for flashlight and radio(check "yes" if both radio and flashlight do not require batteries)</h6>
    <input type="radio" name="3" value="3a"{% if disasters.q3 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="3" value="3b"{% if disasters.q3 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="3" value="3c"{% if disasters.q3 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="3" value="3d"{% if disasters.q3 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="3" value="3e"{% if disasters.q3 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Battery-powered, 2 way radios?</h6>
    <input type="radio" name="4" value="4a"{% if disasters.q4 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="4" value="4b"{% if disasters.q4 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="4" value="4c"{% if disasters.q4 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="4" value="4d"{% if disasters.q4 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="4" value="4e"{% if disasters.q4 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>If you have a cell phone, do you have a way to charge the cell phone's battery if the power is out(extra battery or charger)</h6>
    <input type="radio" name="5" value="5a"{% if disasters.q5 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="5" value="5b"{% if disasters.q5 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="5" value="5c"{% if disasters.q5 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="5" value="5d"{% if disasters.q5 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="5" value="5e"{% if disasters.q5 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Does your household have a working battery-operated radio and working batteries for you to use if the electricity is out?</h6>
    <input type="radio" name="6" value="6a"{% if disasters.q6 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="6" value="6b"{% if disasters.q6 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="6" value="6c"{% if disasters.q6 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="6" value="6d"{% if disasters.q6 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="6" value="6e"{% if disasters.q6 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Does your household have copies of important documents in a safe location(e.g. water proof container)? OR Are important documents store electronically elsewhere (backed up on an electronic storage cloud or photos on an external storage site)?</h6>
    <input type="radio" name="7" value="7a"{% if disasters.q7 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="7" value="7b"{% if disasters.q7 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="7" value="7c"{% if disasters.q7 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="7" value="7d"{% if disasters.q7 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="7" value="7e"{% if disasters.q7 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Does your household have a fire extinguisher?</h6>
    <input type="radio" name="8" value="8a"{% if disasters.q8 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="8" value="8b"{% if disasters.q8 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="8" value="8c"{% if disasters.q8 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="8" value="8d"{% if disasters.q8 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="8" value="8e"{% if disasters.q8 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Does your household have an emergency communication plan such as a list of numbers designated out-of-town contacts that has been reviewed for accuracy in the last year?</h6>
    <input type="radio" name="9" value="9a"{% if disasters.q9 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="9" value="9b"{% if disasters.q9 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="9" value="9c"{% if disasters.q9 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="9" value="9d"{% if disasters.q9 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="9" value="9e"{% if disasters.q9 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Do you have cash stored at home you can use in an emergency?</h6>
    <input type="radio" name="10" value="10a"{% if disasters.q10 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="10" value="10b"{% if disasters.q10 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="10" value="10c"{% if disasters.q10 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="10" value="10d"{% if disasters.q10 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="10" value="10e"{% if disasters.q10 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Do you have an evacuation plan to get out of your home if there is an emergency</h6>
    <input type="radio" name="11" value="11a"{% if disasters.q11 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="11" value="11b"{% if disasters.q11 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="11" value="11c"{% if disasters.q11 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="11" value="11d"{% if disasters.q11 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="11" value="11e"{% if disasters.q11 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Have you signed up for an alert system to receive emergency announcements?</h6>
    <input type="radio" name="12" value="12a"{% if disasters.q12 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="12" value="12b"{% if disasters.q12 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="12" value="12c"{% if disasters.q12 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="12" value="12d"{% if disasters.q12 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="12" value="12e"{% if disasters.q12 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Can you shut off your utilities (gas, water, electricity) to the house in case of an emergency?</h6>
    <input type="radio" name="13" value="13a"{% if disasters.q13 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="13" value="13b"{% if disasters.q13 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="13" value="13c"{% if disasters.q13 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="13" value="13d"{% if disasters.q13 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="13" value="13e"{% if disasters.q13 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Are you registered with any kind of an agency to check on you in case of a large scale emergency (e.g. SMART911, code Red, or your local county registry, power company if dependent on electricity for medical equipment, public health CERT or home heath agency, special neighborhood watch, faith community group)?</h6>
    <input type="radio" name="14" value="14a"{% if disasters.q14 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="14" value="14b"{% if disasters.q14 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="14" value="14c"{% if disasters.q14 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="14" value="14d"{% if disasters.q14 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="14" value="14e"{% if disasters.q14 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Multi-purpose tool (several tools that fold up into a pocket-sized unit)</h6>
    <input type="radio" name="15" value="15a"{% if disasters.q15 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="15" value="15b"{% if disasters.q15 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="15" value="15c"{% if disasters.q15 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="15" value="15d"{% if disasters.q15 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="15" value="15e"{% if disasters.q15 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Sanitation and personal hygiene items (toilet paper, plastic garbage bags) in a rapidly accessible pack?</h6>
    <input type="radio" name="16" value="16a"{% if disasters.q16 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="16" value="16b"{% if disasters.q16 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="16" value="16c"{% if disasters.q16 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="16" value="16d"{% if disasters.q16 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="16" value="16e"{% if disasters.q16 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Emergency blanket rapidly accessible if you need to leave the home?</h6>
    <input type="radio" name="17" value="17a"{% if disasters.q17 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="17" value="17b"{% if disasters.q17 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="17" value="17c"{% if disasters.q17 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="17" value="17d"{% if disasters.q17 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="17" value="17e"{% if disasters.q17 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Whistle (to attract attention of emergency personnel)?</h6>
    <input type="radio" name="18" value="18a"{% if disasters.q18 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="18" value="18b"{% if disasters.q18 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="18" value="18c"{% if disasters.q18 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="18" value="18d"{% if disasters.q18 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="18" value="18e"{% if disasters.q18 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>One change of clothing and shoes packed or stored separately in a ready-to-go bag</h6>
    <input type="radio" name="19" value="19a"{% if disasters.q19 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="19" value="19b"{% if disasters.q19 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="19" value="19c"{% if disasters.q19 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="19" value="19d"{% if disasters.q19 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="19" value="19e"{% if disasters.q19 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Filtering face mask</h6>
    <input type="radio" name="20" value="20a"{% if disasters.q20 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="20" value="20b"{% if disasters.q20 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="20" value="20c"{% if disasters.q20 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="20" value="20d"{% if disasters.q20 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="20" value="20e"{% if disasters.q20 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Monitors local broadcasts</h6>
    <input type="radio" name="21" value="21a"{% if disasters.q21 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="21" value="21b"{% if disasters.q21 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="21" value="21c"{% if disasters.q21 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="21" value="21d"{% if disasters.q21 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="21" value="21e"{% if disasters.q21 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Generator owners: Demonstrates operating only out-of-doors in a well-ventilated area. Refuels generator only after it has cooled. Does not connect generator to home's electrical system except though an approved transfer switch</h6>
    <input type="radio" name="22" value="22a"{% if disasters.q22 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="22" value="22b"{% if disasters.q22 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="22" value="22c"{% if disasters.q22 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="22" value="22d"{% if disasters.q22 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="22" value="22e"{% if disasters.q22 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Ability to lock home in an emergency</h6>
    <input type="radio" name="23" value="23a"{% if disasters.q23 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="23" value="23b"{% if disasters.q23 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="23" value="23c"{% if disasters.q23 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="23" value="23d"{% if disasters.q23 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="23" value="23e"{% if disasters.q23 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>Evacuation route with alternative route that avoids driving through flooded roads and downed power lines.</h6>
    <input type="radio" name="24" value="24a"{% if disasters.q24 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="24" value="24b"{% if disasters.q24 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="24" value="24c"{% if disasters.q24 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="24" value="24d"{% if disasters.q24 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="24" value="24e"{% if disasters.q24 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <h6>In an emergency, if your household was asked to evacuate, what would your household do with your pet(s)</h6>
    <input type="radio" name="25" value="25a"{% if disasters.q25 == 'a' %}checked{% endif %}>take it/tem with you<BR>
    <input type="radio" name="25" value="25b"{% if disasters.q25 == 'b' %}checked{% endif %}>find a safe place for it/them<BR>
    <input type="radio" name="25" value="25c"{% if disasters.q25 == 'c' %}checked{% endif %}>leave behind with food and water<BR>
    <input type="radio" name="25" value="25d"{% if disasters.q25 == 'd' %}checked{% endif %}>would not evacuate because of pets<BR>
    <input type="radio" name="25" value="25e"{% if disasters.q25 == 'e' %}checked{% endif %}>no pets don't know/unsure refused<BR>

    <br>
    <h6>financial scam role-play don't know what to ask</h6>
    <input type="radio" name="26" value="26a"{% if disasters.q26 == 'a' %}checked{% endif %}>Yes<BR>
    <input type="radio" name="26" value="26b"{% if disasters.q26 == 'b' %}checked{% endif %}>No, I do not feel the need to complete the task<BR>
    <input type="radio" name="26" value="26c"{% if disasters.q26 == 'c' %}checked{% endif %}>No, I would like to complete the task but not sure of exactly what to do<BR>
    <input type="radio" name="26" value="26d"{% if disasters.q26 == 'd' %}checked{% endif %}>No, I know what I need to do; I am just finding it hard to complete the task<BR>
    <input type="radio" name="26" value="26e"{% if disasters.q26 == 'e' %}checked{% endif %}>No, I have completed the task at one time, but I have not maintained/updated this task<BR>
    <br>
    <a class="btn btn-danger" href='/intro'>Back</a>
    <input class="btn btn-primary" href='{/demographic}' value="Next" type="submit">
</form>

{% endblock%}