{% extends 'base.html' %}
{% block head %}
<title>Emergency Prepardeness</title>
{% endblock %}

{% block body %}
<br>

<h1>Emergency Prepardeness</h1>
<hr style="border: 4px solid#5b9aa0;" />
<form action="/hazard_probability/" method="POST">
    {% csrf_token %}
    <h3>For the previous questions that you answered yes to, please answer the following questions:</h3>
    <h5>1. How many years ago did this occur?</h5>
    <h5>[Redacted]</h5>
    <h5>3. Did the disaster affect your current place of residence?</h5>
    <hr style="border: 1px solid#d9d9d9;" />
    {%for question, answer1, answer2, answer3 in mylist%}

    <h5>{{question}}</h5>

    <h6 for="{{question}}">How many years ago did this occur?</h6>
    <input type="number" id="{{question}}" name="{{question}}" min="0" max="100" value="{{answer1}}">
    <br>
    <h6>[Redacted]</h6>
    <input type="radio" name="{{question}}a" value="True"{% if answer2 == True %}checked{% endif %}>Yes<BR>
    <input type="radio" name="{{question}}a" value="False"{% if answer2 == False %}checked{% endif %}>No<BR>
    <br>
    <h6>Did the disaster affect your current place of residence?</h6>
    <input type="radio" name="{{question}}b" value="True"{% if answer3 == True %}checked{% endif %}>Yes<BR>
    <input type="radio" name="{{question}}b" value="False"{% if answer3 == False %}checked{% endif %}>No<BR>
    <hr style="border: 1px solid#d9d9d9;" />


    {%endfor%}
    <a class="btn btn-danger" href='/hazard2'>Back</a>
    <input class="btn btn-primary" href='{/hazard_probability}' value="Next" type="submit">

</form>



{% endblock%}