{% extends 'base.html' %}
{% block head %}
<title>Enter Your Information</title>
{% endblock %}

{% block body %}
<br>

<h1>Enter Your Information</h1>
<hr style="border: 4px solid#5b9aa0;" />
<form action="intro/" method="POST">
    {% csrf_token %}
    <label for="first_name">First Name:</label>
    <input class="form-control" type="text" name='first_name' id='first_name' placeholder="Enter First Name" aria-label="Enter Answer" value="{{information.first_name}}">
    <br>
    <label for="last_name">Last Name:</label>
    <input class="form-control" type="text" name='last_name' id='last_name' placeholder="Enter Last Name" aria-label="Enter Last Name" value="{{information.last_name}}">
    <br>
    <label for="dob">Date of Birth:</label>
    <input  type="date" name='dob' id='dob' class="form-control" value="{{information.dob}}">
    <br>


    <input class="btn btn-primary" href="{/intro }" value="Next" type="submit">
</form>
<br>

{% endblock%}